/*
 * Local styling
 */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 52px;
}

.footer.navbar {
    min-height: 52px;
    margin-bottom: 0;
}

/*
 * vim: ts=4 et nowrap autoindent
 */